body{ 
    background-color: rgb(207, 207, 207);
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.front-page{ 
    border-radius: 10px;
    background-color: white;
    margin-top: 17rem;
    width: 300px;
    height: 420px;
    padding-bottom: 20px;
    display: flex;
    margin-bottom: 2rem;
    justify-content: center;
    flex-direction: column;
    box-shadow: 8px 4px 5px rgb(rgb(0, 0, 0));
}

.front-page img{

    height: 16rem;
    width: 16rem;
    margin: auto;
    border-radius: 6px;
}

.front-page h2{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
    margin: auto;
    text-align: center;

}

.front-page p{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: rgb(170, 172, 173);
    margin: auto;
    text-align: center;
}
@media(max-width:28rem){ 
    body{ 
        height: 80px;
    }
    .front-page{ 
        width: 300px;
        height: 420px;   
    }
}